/*
Truqui para calcular los rem: bajar el tamaño de tipografía por defecto de los 16
predeterminados a 10. Así es más fácil calcular los multiplicadores rem.
Luego, en <body> se hace un apañico para que el tamaño por defecto sea igualmente 16
para todo lo que no esté afectado por medidas rem especificadas en css.
No sé si me he explicao. 
*/

/* Variables en root*/

:root{
    /* Colores */
    --fondo: white;
    --principal: #000000;
    --secundario: #b4b4e8;
    --blanco: #ffffff;
    --secundario-oscuro: #0A3981;
    /* Fuentes */
    --fuente-principal: "kanit", Arial;
    --forma-principal: 400; /* normal */ /* Pesos que nos hayamos descargado, si no está enlazado directamente */
    --forma-negrita: 700;
    --estilo-principal: normal;
    --estilo-cursiva: italic;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--fondo);
    font-size: 16px;
    font-family: var(--fuente-principal);
}

.contenedor {
    max-width: 120rem; 
    margin: 0 auto;  /* 0 arriba y abajo, automático a los lados*/
}

.cabecera {
    text-align: center;
    text-transform: uppercase;
    color: var(--principal);
    font-size: 4rem;
    font-style: var(--estilo-cursiva);
    margin: 1rem 0;
}

.cabecera span {
    font-size: 2rem;
}

.nav-fondo {
    background-color: var(--secundario);
}

.nav-cabecera {
    display: flex;
    justify-content: space-between;
}


.nav-cabecera a {
    color:var(--principal);
    text-decoration: none;
    text-transform: capitalize;
    padding: 1rem;
    width: 20%;
    text-align: center;
    transition: all 0.5s ease-in-out;
    /* Se pueden poner los efectos por separado. Por ejemplo: 
    transition: background-color 0.5s ease-in-out
    transition: font-size 0.5s ease-in-out */
}

.nav-cabecera a:hover {
    font-weight: var(--forma-negrita);
    color:var(--blanco);
    background-color: var(--secundario-oscuro);
    font-size: 1.8rem;
}

.cabecera-fondo {
    background-image: url("../imgs/empolling.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 45rem; 
    background-size: cover;
    background-position: center;
}

.cabecera-contenido {
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 40%);
    /* también:rgba(0, 0, 0, 0, 0.4)*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cabecera-contenido h2 ,
.cabecera-contenido p {
    color: var(--blanco);
}

.cabecera-contenido h2 {
    font-size: 4rem;
    font-weight: var(--forma-negrita);
    text-transform: uppercase;
}

.cabecera-contenido p {
    text-transform: capitalize;
}





/* @media (prefers-color-scheme: dark) {
    :root{
        --fondo: black;
        --principal: white;
        --secundario: #0a3981;
        --secundario-oscuro: #b4b4e8;
        }
} 
*/
        
        
@media (max-width:500px) {
    .nav-cabecera {
        flex-direction: column;
    }
    .nav-cabecera a {
        width: 100%;
        transition: all 0.5s ease-in-out;
    }
}