.nav-cabecera .instalaciones {
    color: var(--seleccionado);
}
@media (min-width: 768px) {
    .nuestras-instalaciones {
        display: flex;
        justify-content: space-evenly;
        gap: 4rem;
    }
}

.nuestras-instalaciones img {
    width: 100%;
    border-radius: 10px;    
}
h3 {
    color: var(--secundario-oscuro);
    font-size: 3rem;
}

.contacto {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 1rem 4rem;
}
.contacto a {
    display: flex;
    width: 100%;
    align-items: center; 
    color: var(--principal);
    text-decoration: none;
    gap: 1rem ;
    padding: 1rem;    
}
.contacto a:hover {
    color: var(--seleccionado);
    font-size: 2rem;
}



